<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%end%>



<%= form_for @club, html: {multipart: true} do |f| %>
    <p>
      <%= f.text_field :title, placeholder: "Enter your club's title" %>
    </p>
    <p>
      <%= f.text_area :description, placeholder: "Enter your club's mission"%>
    </p>
    <p>
      <%= f.text_field :location, placeholder: "Where is your club based out of?" %>
    </p>
    <p>
      <%= f.label :image, "Attach an Image" %><br>
      <%= f.file_field :image %>
    </p>
    <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>
