<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%end%>


<%= form_for @club, html: {multipart: true} do |f| %>

    <p>
      <%= f.label :title, class: "field_title"%>
      <br>
      <%= f.text_field :title, class: "field_box" %>
    </p>
    <p>
      <%= f.label :description, class: "field_title" %>
      <br>
      <%= f.text_field :description, class: "field_box" %>
    </p>
    <p>
      <%= f.label :location, class: "field_title" %>
      <br>
      <%= f.text_field :location, class: "field_box" %>
    </p>
    <p>
      <%= f.label :image, "Attach an Image", class: "image_field_button" %><br>
      <%= f.file_field :image, placeholder: "Click to attach a club image", class: "field_box" %>
    </p>
    <p>
      <%= f.label :thumbtag, "Club Id Tags", class: "field_title" %>
      <br>
      <%= f.text_field :thumbtag, placeholder: "Space tags by commas", class: "field_box"%>
    </p>
  <!--   <p>
     f.label :tag_list <br />
     f.text_field :tag_list
    </p> -->
    <p>
    <span class="submit_button">
      <%= f.submit %>
      </span>
    </p>

<% end %>
