<!--Activity Feed Page -->

<div id="welcome">
	<h2>Welcome, <%=current_user.name%>!</h2>
	<p>How will you help better your community today?</p>
</div>

<hr>

<div id="wrapper">
	<div id="user_clubs">
		<h2><%=current_user.name%>'s Clubs</h2>
				<% @clubs.each do |c| %>
					<div class ="club_area">
						<%= link_to image_tag(c.image(:medium)), club_path(c) %><br>
						<div class="club_title"><%= c.title %></div>
					</div>
				<% end %>
	</div>

	<div id="activities">
		<h2>While you were away...</h2>
		<% @activities.each do |activity| %>
			<% if activity.trackable %>
				<p>
					<b>
						<%= activity.trackable.title %>
					</b>
				</p>
				<p>
					Preview: <%=h truncate(activity.trackable.story, :length => 30) %>
				</p>
			<% end %>
		<% end %>
	</div>

</div>

<div id="all_clubs">
	<h2>Join a New Club</h2>

	<div class='club_body'>
		<% @club.each do |club| %>
		<div class="club">
			<h4> <%= link_to club.title, club %> </h4>
			<p>Club Description: <%= club.description %></p>
			<p>Club Tags: <%= club.thumbtag %></p>
		</div>
		<% end %>
	</div>

<div id="New"><%= link_to 'Create a New Club', new_club_path %></div>
<%= link_to 'Back', '/' %>
