
<!-- form_tag search_tags_path  -->
<!-- <input class "xyz" name="query" placeholder="search tags" type="text" autocomplete="off"> -->
<!-- end  -->
<%= link_to 'Profile', user_path(:id) %>

<%= form_tag(clubs_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search Clubs" %>
	<%= submit_tag "Search" %>
		<% if @club.present? %>
		<br>
			<p> The following are your related articles</p>
		<% else %>
			<p>There are no club containing the term(s) <%= params[:search] %>.</p>
		<% end %>
<% end %>

<div>
<p>Your tags:
<% @club.each do |club| %>
<%= club.thumbtag %></p>
<% end %>
<hr>
</div>

<div class= 'club body'>
	<% @club.each do |club| %>
	<div class="club">
		<p><%= club.title %></p>
		<p><%= club.location %></p>
		<p><%= club.description %></p>
		<p><%= club.thumbtag %></p>
		<p><%= link_to 'Show Me More', club %></p>
	</div>
	<% end %>

	<div class="activities">
	<h1>Activity Feed</h1>
	<% @activities.each do |activity| %>
		<div class="activity">

	  <% if activity.trackable %>
	    <p>
	      <b>
	        <%= activity.trackable.title %>
	      </b>
	    </p>
	    <p>
	      	<%=h truncate(activity.trackable.story, :length => 10) %>
	    </p>

	    		<%= link_to activity.owner.name, owner_profile_path(:owner_id) %>

	  <% else %>
			<p> This club was deleted. :( </p>
	  <% end %>
	<%end%>
	</div>

<% @users.each do |user| %>
<%= user.name %>
<% if user.avatar? %>
<%= link_to (image_tag user.avatar(:thumb)), profile_path(id: user.username) %>
<% else %>
<%= link_to image_tag("http://orig05.deviantart.net/c4a0/f/2013/036/5/d/marioquestionbox_by_camdencc-d5ty7xb.gif"), profile_path(id: user.username) %>

<% end %>
<% end %>

<!-- <p>
	Tags:
	 @club.tag_club.tag.each do |tag|
	link_to tag.name, tag_path(tag)
	 end
</p>
 -->

	<div id="New"><%= link_to 'Create a New Club', new_club_path %></div>
</div>


<%= link_to 'back', '/' %>
