<div class= 'club body'>
<% @clubs.each do |club| %>
    <div class="club">
      <%= image_tag club.title %>
      <p><%= club.description %></p>
      <p>$<%= club.location %></p>
      <p>$<%= club.image %></p>
      <p><%= link_to 'Show Me More', club %></p>
    </div>
  <% end %>
  <div id="New"><%= link_to 'Create a New Club', new_club_path %></div>
</div>
