<div class="activities">
<h1>Activity Feed</h1>
<% @activities.each do |activity| %>
	<div class="activity">

	<% if activity.trackable %>
		<p>
			<b>
				<%= activity.trackable.title %>
			</b>
		</p>
		<p>
				<%=h truncate(activity.trackable.story, :length => 40) %>
		</p>
				<%= activity.owner.name %>
	<% else %>
		<p> This club was deleted. :( </p>
	<% end %>
<%end%>
</div>

<h1>Clubs</h1>

<div class="clubsIndexbody">

<div class= 'club body'>
	<% @club.each do |club| %>
	<div class="club">
		<h4> <%= link_to club.title, club %> </h4>
		<p>Club Description: <%= club.description %></p>
		<p>Club Tags: <%= club.thumbtag %></p>
	</div>
	<% end %>

</div>

<div id="New"><%= link_to 'Create a New Club', new_club_path %></div>
<%= link_to 'Back', '/' %>
</div>
