<!--Activity Feed Page -->

<div id="welcome">
  <% if current_user %>
	<h2>Welcome, <%=current_user.name%>!</h2>
      <p>How will you better your community today?</p>
  <% else %>
    <h2>Welcome,</h2>
      <p>please login and join a club.</p>

  <% end %>
</div>

<hr>

<div id="wrapper">
	<div id="user_clubs">
          <% if current_user %>
		<h2><%=current_user.name%>'s Clubs</h2>
				<% @clubs.each do |c| %>
					<div class ="club_area">
						<%= link_to image_tag(c.image(:medium)), club_path(c) %><br>
						<div class="club_title"><%= c.title %></div>
                        <% end %>
	   <% end %>
	</div>

      <% if current_user %>
	<div id="activities">
		<h2>While you were away...</h2>
		<% @activities.each do |activity| %>
			<% if activity.owner == current_user %>
				<p>
					<b>
						<div id="activity_stories"><%= link_to activity.trackable.title, club_path(activity) %></div>
					</b>
				</p>
				<p>
					<div id="activity_preview">Preview: <%=h truncate(activity.trackable.story, :length => 150) %></div>
				</p>
			<% end %>
		<% end %>
          <% end %>
	</div>

</div>

<div id="all_clubs">
	<h2>Join a New Club</h2>

	<%= form_tag(clubs_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search for existing clubs by title, description, location, tag, or field..."%>
	<% end %>

	<div class='club_body'>
          <% if current_user %>
		<% (@club-@clubs).each do |club| %>
		<div class="club_area" style="float:none; display:inline-block;">
			<%= link_to image_tag(club.image(:medium)), club_path(club) %>
			<div class="club_title"><%= club.title %></div>
		</div>
		<% end %>
          <% else %>
            <% @club.each do |club| %>
              <div class="club_area" style="float:none; display:inline-block;">
                <%= link_to image_tag(club.image(:medium)), club_path(club) %>
                <div class="club_title"><%= club.title %></div>
              </div>
            <% end %>
          <% end %>
	</div>

</div>

<div id="New">
</div><%# link_to 'Create a New Club', new_club_path %></div>
<%# link_to 'Back', '/' %>
