<p><%= @club.title %></p>
<p><%= @club.description %></p>
<p><%= @club.location %></p>
<%= image_tag @club.image(:large) %>

<% @club.tags.each do |tag| %>
Tags:
<%= tag.name %>
<% end %>

<h2>Current Members:</h2>
<ul>
  <% @club.user_clubs.each do |userclub| %>
    <li><%= userclub.user.username %></li>
  <% end %>
</ul>

<%= button_to "Join Club", join_club_path(@club) %>

<%= link_to 'Back', clubs_path %>



