<div class="clubs_body">
  <div class="separator"></div>

<!-- Beginning of toggled About section -->

  <div class="about_container">
    <div class="button_response">
      <span class="club_about">
        <%= image_tag @club.image(:large), :class => "club_about"%>
      </span>
    </div>

    <div>
      <span class="clubs_title">
        <br>
        <h1><%= @club.title %></h1>
      </span>

      <span class="clubs_information">
        <p><%= @club.description %></p>

        <p><%= @club.location %></p>
        <br>
      </span>
    </div>
    <div class="about_text_container"></div>
  </div>

<!-- End of toggled About section-->

  <div class="nav">
    <ul class="nav">
      <div class="club_button_container">
        <li>
          <%= link_to 'Current Projects', club_projects_path(@club), class: "club_button button_text" if current_user %>
        </li>

        <li>
          <%= link_to 'Create New Project', new_club_project_path(@club), class: "club_button button_text" if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %>
        </li>
        <li>
          <a class="club_stories club_button">
            <span class="button_text">

              Stories

            </span>
          </a>
        </li>
        <li>
          <% if current_user && @club.users.exists?(current_user) %>
          <%= button_to "Leave Club", unjoin_club_path(@club), class: "join_unjoin_buttons button_text club_button" unless current_user.user_admin_in_club?(@club.id)%>
          <% else %>
          <%= button_to "Join Club", join_club_path(@club), class: "join_unjoin_buttons button_text club_button" %>
          <% end %>
        </li>
        <li>
          <a class="club_users club_button">
            <span class="button_text">Users</span>
          </a>
        </li>
      </div>
    </ul>
  </div>

<!-- Beginning of toggled Story section -->

  <div class="stories_show">
    <div class="story_title">
      <h1>
        Stories by '<%= @club.title.downcase %>'</h1>
    </div>
    <br>
    <%@stories.each_with_index do |story, index| %>
    <div class="story_inner_container">
      <div class="story_title story_subtitle">
        <h2><%= story.title %></h2>
      </div>
      <div class="story_info">
        <h3>
          Description:
        </h3>
        <p><%= story.story%></p>
        <div class="leave_a_comment">
          <% if current_user && current_user.user_in_club(@club.id) %>
          <h3>Comments:</h3>
        </div>
        <div class="story_comments">
          <%= flash[:error] unless flash[:error].blank? %>
          <% story.commentaries.each do |com| %>
          <p><%= com.comment %><br>
            Posted by:
            <%= com.user.username %>,
            <%= time_ago_in_words(com.created_at)%>
            ago70px
            <br></p>
          <% end %>

          <div class="story_comment_bar">
            <%= render 'commentaries/form', locals: {story: story, user_id: current_user.id}  %>
          </div>
          <br>
          <% end %>
        </div>
      </div>
    </div>
    <%end%>

    <% if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %>

    <h2 class="creatorfeed_title"></h2>
    <div id='creatorfeed'>
      <%= flash[:error] unless flash[:error].blank? %>
      <%= render 'stories/form'%>
    </div>
    <%end%>
  </div>
  <div class="pagination">
    <%= paginate @stories%>
  </div>
</div>

<!--  End of Story section -->
<hr>
<!-- Beginning of toggled Club User manifest section -->
<span class="button_response">
  <div class="user_club_show">
<!-- <h2>Current Members:</h2> -->
    <ul>
      <% @club.user_clubs.each do |userclub| %>

      <% if userclub.user.avatar? %>

      <li class="avatar">
        <%= link_to image_tag(userclub.user.avatar(:medium)), profile_path(userclub.user_id) %></li>

      <% else %>

      <li class="avatar">
        <%= link_to image_tag("https://i.vimeocdn.com/portrait/1328552_300x300.jpg"), profile_path(userclub.user_id)
                   %></li>

      <% end %>
      <% end %>
    </ul>
  </div>

</span>

<!-- End of Club User manifest section -->

<!-- end of CSSed text  -->

<% if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %>

<% end %>

<div class="bottom_bar_container">
  <% if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %>
  <span>
    <%= link_to 'Modify Group', edit_club_path(@club), class: "bottom_bar_buttons" %>
  </span>
  <% end %>
  <% if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %>
  <span>
    <%= link_to 'Delete Group', @club, method: :delete, data: { confirm: 'Are you sure?' }, class: "bottom_bar_buttons" %>
  </span>
  <% end %>
  <span class="last_bar"><%= link_to 'Activity Page', clubs_path, class: "bottom_bar_buttons" %></span>

</div>

</div>
