<h2><%= @club.title %></h2>
<p><%= @club.description %></p>
<p>Location: <%= @club.location %></p>


<p><%= image_tag @club.image(:large) %></p>

<div>
    <p><%= link_to 'Edit', edit_club_path(@club) if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %></p>
    <p><%= link_to 'Destroy', @club, method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %></p>
</div>

<%@stories.each_with_index do |story, index| %>
  <h3><%= story.title %></h3>
  <p><%= story.story%></p>

  <% if current_user && current_user.user_in_club(@club.id) %>
    <h4>Leave a comment:</h4>
      <%= flash[:error] unless flash[:error].blank? %>
      <p><% story.commentaries.each do |com| %>
          <%= com.comment %><br>
          Posted by: <%= com.user.username %><br>
          <%= time_ago_in_words(com.created_at) %>
          <% end %></p>
      <%= render 'commentaries/form', locals: {story: story} %>
      <hr>
  <% end %>

<%end%>
<%= paginate @stories%>
************************


<% if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %>
  <h3>New Story</h3>
  <div id='creatorfeed'>
    <%= flash[:error] unless flash[:error].blank? %>
    <%= render 'stories/form'%>
  </div>
<%end%>


    <h2>Current Members:</h2>
    <ul>
      <% @club.user_clubs.each do |userclub| %>
        <% if userclub.user.avatar? %>
          <%= link_to image_tag(userclub.user.avatar(:thumb)), profile_path(userclub.user_id) %>
        <% else %>
          <%= link_to image_tag("http://orig05.deviantart.net/c4a0/f/2013/036/5/d/marioquestionbox_by_camdencc-d5ty7xb.gif"), profile_path(userclub.user_id) %>
        <% end %>
      <% end %>
    </ul>

    <p>Tags:
      <%= @club.thumbtag %></p>


    <% if current_user && @club.users.exists?(current_user) %>
    <%= button_to "Leave Club", unjoin_club_path(@club) unless current_user.user_admin_in_club?(@club.id)%>
    <% else %>
    <%= button_to "Join Club", join_club_path(@club) %>
    <% end %>
    <%= link_to 'Back', clubs_path %>

    <br>

    <%= link_to 'Create New Project', new_club_project_path(@club) if current_user && current_user.user_in_club(@club.id) && current_user.user_admin_in_club?(@club.id) %><br>
    <%= link_to 'View Current Projects', club_projects_path(@club) if current_user && current_user.user_in_club(@club.id)%>
