<p><%= @club.title %></p>
<p><%= @club.description %></p>
<p><%= @club.location %></p>
<%= image_tag @club.image(:large) %>

<% @club.tags.each do |tag| %>
Tags:
<%= tag.name %>
<% end %>

<h2>Current Members:</h2>
<ul>
  <% @club.user_clubs.each do |userclub| %>
    <li><%= userclub.user.username %></li>
  <% end %>
</ul>
<br> 
<% if current_user && @club.users.exists?(current_user) %>
  <%= button_to "Leave Club", unjoin_club_path(@club) %>
<% else %>
  <%= button_to "Join Club", join_club_path(@club) %>
<% end %>

<%= link_to 'Back', clubs_path %>
