<p><%= @club.title %></p>
<p><%= @club.description %></p>
<p><%= @club.location %></p>
<%= image_tag @club.image(:large) %>
<p> Show page for clubs </p>

<% @club.tags.each do |tag| %>
Tags:
<%= tag.name %>
<% end %>

<%= link_to 'Join Club', user_clubs_path %>