<% @user = current_user || User.new %>
<div class="sign_up">
  <h2>Sign Up</h2>
  <%= form_tag(signup_path) do %>

    <%= label_tag :username %><br>
    <%= text_field_tag :username %><br>

    <%= label_tag :name %><br>
    <%= text_field_tag :name %><br>

    <%= label_tag :email %><br>
    <%= email_field_tag :email %><br>

    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br>

    <%= label_tag :password_confirmation, "Password Confirmation" %><br>
    <%= password_field_tag :password_confirmation %><br>

    <%= submit_tag "Sign Up", class: "signup-button" %>
  <% end %>
</div>
