<div id="rectangle">
<div class="profilebox">
<div class = "listprofile">
<strong><center>
	<%= image_tag @user.avatar(:thumb) %>
	<p><%= @user.name %></p>
    <p><%= @user.username %></p>
    <p><%= @user.email %></p>
</strong>
</center>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<%= link_to 'Update Profile', edit_user_path(:id) %>
	<%= link_to 'Back', clubs_path(:id) %>
</div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>


<!-- <table width=300 border=0><tr>
<td align=center><form name=bcolors>Background<br><select NAME=bgc size=4 onChange="document.getElementById('changemybg').style.backgroundColor=bgc.options[selectedIndex].value"> 
    <option VALUE="#FE5B54">Salmon</option> 
    <option VALUE="#13C7AE">Turqoise</option> 
    <option VALUE="#FBA16C">Apricot</option> 
    <option VALUE="#EEEEEE">Light Gray</option> 
</select></form></td> -->
<!-- <td align="center"><form name=tcolors>Text<br><select NAME=tc size=4 
onChange="document.getElementById('changemytext').style.color=tc.options[selectedIndex].value"> 
    <option VALUE="#000000">Black </option> 
    <option VALUE="#444444">Charcoal </option> 
    <option VALUE="#000088">Dark Blue </option> 
    <option VALUE="#117722">Dark Green </option>
</select></form></td>

 -->
<!-- </tr></table> -->
