

<br><br><br>
<br><br><br>


<%= @user.name %>

<ul>
  <% @user.badges.each do |badge| %>
  <li><%= badge.name %></li><br>
  <% end %>
</ul>

<%= @user.username %><br>

<%= link_to 'Update Profile', edit_user_path(:id) %><br>


Clubs Joined<br>

<% @clubs.each do |club| %>
<li class = "listing">
  <%= link_to club.title, club_path(club) %>
</li>
<% end %><br>

Projects Joined <br> 

<% @projects.each do |project| %>
<br>
<li class = "listing1">
  <%= link_to project.name, club_project_path(project.club, project) %>
</li>
<% end %><br>

<%= image_tag @user.avatar(:medium) %>