<div id="banner">
  <div id="name">
    <center><%= @user.name %></center>
</div>
    <div id="name">
    <center><%= @user.username %></center>
  </div>
  <div class = "name">
<center><%= link_to 'Update Profile', edit_user_path(:id) %></center>
</div>
  <div id="photo">
  	<center><%= image_tag @user.avatar(:medium) %></center>
  </div>
</div>

<div class="box11">
    <h2 class = "sometext1">Clubs a part of</h2>
    <ul class="column2">
    <li class = "listing">
<% @clubs.each do |club| %>
<%= club.title %>
</li>
<% end %>
    </ul>
</div>

<div class="box22">
<h2 class = "sometext">Projects a part of</h2>
<ul class="column3">
<li class = "listing1">
<% @projects.each do |project| %>
<%= project.name %>
</li>
<% end %>
</ul>
</div>









