
<h1> Profile Page </h1>

<p><%= current_user.name %></p>
<p><%= current_user.username %></p>
<p><%= current_user.email %></p>
<%= image_tag current_user.avatar(:large) %>

<p> Show page for user </p>

<%= link_to 'Update Profile', edit_user_path(:id) %>
