<div id="rectangle">
<div class="profilebox">
<div class = "listprofile">
<strong><center>
	<p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <%= image_tag @user.avatar(:medium) %>
</strong>
</center>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<%= link_to 'Update Profile', edit_user_path(:id) %><br>
    <%= link_to 'Back', clubs_path(:id) %>
</div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>
<div class="droplet"></div>



