
<h1> Profile Page </h1>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Username:</strong> <%= @user.username %></p>
<%= image_tag @user.avatar(:medium) %>

<br><br>
<%= link_to 'Update Profile', edit_user_path(:id) %><br>
<%= link_to 'Back', clubs_path(:id) %>
