<%= form_for([@club, @project]) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field"> -->
    <!-- <%#f.hidden_field :club_id, :value => @club.id%><br> -->
  <!-- </div> -->
  <div class="field">
    <%= f.label :name, class: "field_title" %><br>
    <%= f.text_field :name, class: "field_box" %>
  </div>

  <div class="field">
    <%= f.label :description, class: "field_title" %><br>
    <%= f.text_field :description, class: "field_box" %>
  </div>

  <div class="field">
    <%= f.label :location, class: "field_title" %><br>
    <%= f.text_field :location, class: "field_box" %>
  </div>

  <div class="field">
    <%= f.label :due_date, class: "field_title" %><br>
    <%= f.date_field :due_date, class: "field_box" %>
  </div>

  <div class="field">
    <div class="field_before">
     <%= f.label :club_id, "Associated club", class: "field_title" %><br>
    <%= f.select :club_id, options_for_select(@club_options), class: "field_box", placeholder: "club selector"%>
    </div>
  </div>

  <p id="submit_button">
    <%= f.submit 'Save'%>
  </p>

<% end %>
