<h1><%= @project.name %></h1>
<p>Description: <%= @project.description %></p>
<p>Location: <%= @project.location %></p>
<p>Due Date: <%= @project.due_date %></p>

<%= link_to "Edit", edit_club_project_path(@project.club, @project) if current_user && current_user.user_in_club(@project.club.id) && current_user.user_admin_in_club?(@project.club.id) %>
<%= link_to "Delete", club_project_path(@project.club, @project), method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.user_in_club(@project.club.id) && current_user.user_admin_in_club?(@project.club.id) %><br><br>

<h2>Tasks</h2>

<%@tasks.each do |task| %>
  <p>Description: <%= task.description %></p>
  <p>Due Date: <%= task.due_date %></p>
  <p>Project Status: <%= task.completed ? "Completed": "Not Completed" %></p>
  <%= link_to "Edit Task | Edit Completion Status", edit_project_task_path(@project.club, task) if current_user && current_user.user_in_club(@project.club.id) && current_user.user_admin_in_club?(@project.club.id)%><br>
  <%= link_to "Delete Task", project_task_path(@project, task),  method: :delete, data: { confirm: 'Are you sure?' } if current_user && current_user.user_in_club(@project.club.id) && current_user.user_admin_in_club?(@project.club.id) %>
<% end %>
<br>
<% if current_user && current_user.user_in_club(@project.club.id) && current_user.user_admin_in_club?(@project.club.id) %>
  <h2>Create a New Task</h2>
  <%= render "tasks/form" %>
<% end %>
<%= link_to "Back", club_projects_path%>
