<!DOCTYPE html>
<html>
<head>
  <title>Changetheworld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="account">
    <div id="heading">
      <% if current_user %>
        <p id="login"><%= current_user.username %>  |  <%= link_to "Log out", logout_path, method: "delete" %></p>
      <% else %>
      <ul>
        <p id="login"><%= link_to "Login", login_path %>  |  <%= link_to "Signup", signup_path %></p>
      </ul>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
