<!DOCTYPE html>
<html>
<head>
  <title>Changetheworld</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="navbar">
      <ul>
        <li>
          <%= form_tag(clubs_path, :method => "get", id: "search-form") do %>
          	<%= text_field_tag :search, params[:search], placeholder: "Search Clubs" %>
          	<%= submit_tag "Search" %>
          		<% if @club.present? %>
          		<br>
          			<p> The following are your related articles</p>
          		<% else %>
          			<p>There are no club containing the term(s) <%= params[:search] %>.</p>
          		<% end %>
          <% end %>
        </li>
        <li><%= link_to 'Join a Club', clubs_path %></li>
        <li><%= link_to 'Create a New Club', new_club_path %></li>
        <li><%= link_to 'Profile', user_path(:id) %></li>
      <% if current_user %>
        <li><p id="login"><%= current_user.username %>  |  <%= link_to "Log out", logout_path, method: "delete" %></p></li>
      <% else %>
        <li><p id="login"><%= link_to "Log In", login_path %>  |  <%= link_to "Sign Up", signup_path %></p></li>
      </ul>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
